/* Importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

/* Variables */
:root {
  --dark: #0e0d0d;
  --bloody: #c00606;
  --max-width: 1100px;
  --roboto-font: "Roboto", sans-serif;
  --creepy-font: "Creepster", system-ui;
  --release-font: "Crimson Text", serif;
  --card-box: #2c2c2c;
}

/* Resetting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--roboto-font);
  line-height: 1.5;
  background-color: var(--dark);
  color: #fff;
  overflow-x: hidden;
  padding-bottom: 3.125rem;
}

/* Page Headings */
h1 {
  font-family: Creepster;
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
}

.icon {
  display: inline-block;
  margin-right: 0.2em;
  width: 1.4em;
  filter: invert();
}

.container > h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Header */
#main-header {
  background: url("../images/hero.jpg") center top/cover no-repeat;
  background-blend-mode: multiply;
  background-color: #7c0404f3;
  padding: 6em 2em;
  display: flex;
  justify-content: center;
}

.container {
  max-width: var(--max-width);
  text-align: center;
}

/* Page Content */
#timeline ul {
  background-color: var(--dark);
  padding: 3.5em 0;
}

/* Vertical Line */
#timeline ul li {
  list-style: none;
  position: relative;
  width: 0.375rem;
  margin: 0 auto;
  padding-top: 3.125rem;
  background: #fff;
}

/* Releases Cards */
#timeline ul li > div {
  position: relative;
  bottom: 0;
  width: 30em;
  padding: 1em;
  background: var(--card-box);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

/* Right Cards */
#timeline ul li:nth-child(odd) > div {
  left: 2.4em;
}

/* Left Cards */
#timeline ul li:nth-child(even) > div {
  right: calc(30em + 2.4em);
}

/* Dots */
#timeline ul li:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  background-color: var(--card-box);
  border-radius: 50%;
  border: 4px solid var(--bloody);
  outline: 4px solid #363333;
  transform: translateX(-50%);
  z-index: 1;
  transition: background 0.5s ease;
}

/* Arrows at the bottom of cards */
#timeline ul li > div::before {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent var(--card-box);
}

/* Right Side Arrows */
#timeline ul li:nth-child(odd) > div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
}

/* Left Side Arrows */
#timeline ul li:nth-child(even) > div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
}

/* Cards Heading */
#timeline ul li > div > h3 {
  color: var(--bloody);
  font-family: var(--release-font);
  font-size: 1.5rem;
}

/* Cards Paragraph */
#timeline ul li > div > p {
  margin-top: 0.2em;
  padding: 0 0.5em;
}


div.actors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
/* Read More Link */
.read-more {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  background: var(--bloody);
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  gap: 0.3em;
  position: absolute;
  right: 0.2em;
  bottom: 0;
  transition: all 0.4s ease-in;
}

.read-more:hover {
  background-color: #f50000;
  box-shadow: -2px -3px 15px 1px rgba(221, 16, 16, 0.877);
}

.read-more:active {
  box-shadow: -2px -3px 15px 1px rgba(255, 172, 64, 0.877);
}

.read-more > i {
  font-size: 0.55rem;
}

/* Actors Labels */
.actors span {
  margin-top: 1em;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.3em 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
  color: var(--dark);  
}

.actors span:first-child {
  background-color: rgb(252, 88, 88);
}

.actors span:nth-child(2) {
  background-color: rgb(255, 141, 87);
}

.actors span:nth-child(3) {
  background-color: rgb(134, 68, 68);
  color: #fff;
}

/* ========== Media Queries ========== */
@media screen and (max-width: 600px) {
  #timeline ul li {
    list-style: none;
    position: relative;
    width: 0.25rem;
    margin-left: 1.7em;
    padding-top: 3.125rem;
    background: #fff;
  }

  #timeline ul li > div {
    position: relative;
    bottom: 0;
    left: 0;
    font-size: 0.7rem;
    width: 75vw;
    padding: 1em;
    background: var(--card-box);
    transition: all 0.5s ease-in-out;
  }

  /* Release Cards */
  #timeline ul li:nth-child(odd) > div,
  #timeline ul li:nth-child(even) > div {
    left: 3.5em;
  }

  /* Cards Bottom Arrows */
  #timeline ul li:nth-child(odd) > div::before,
  #timeline ul li:nth-child(even) > div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
  }

  /* Dots */
  #timeline ul li:after {
    width: 0.5rem;
    height: 0.5rem;
  }

  #timeline ul li > div > h3 {
    font-size: 1.2rem;
  }

  .actors .read-more {
    font-size: 0.7rem;
  }

  .actors span {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 890px) {
  #timeline ul li {
    list-style: none;
    position: relative;
    width: 0.25rem;
    padding-top: 3.125rem;
    background: #fff;
  }

  #timeline ul li > div {
    position: relative;
    bottom: 0;
    width: 40vw;
    font-size: 0.7rem;
    padding: 1em;
    background: var(--card-box);
    transition: all 0.5s ease-in-out;
  }

  /* Right Cards */
  #timeline ul li:nth-child(odd) > div {
    left: 3em;
  }

  /* Left Cards */
  #timeline ul li:nth-child(even) > div {
    right: calc(40vw + 3em);
  }

  /* Dots */
  #timeline ul li:after {
    width: 0.5rem;
    height: 0.5rem;
  }

  #timeline ul li > div > h3 {
    font-size: 1.2rem;
  }

  .actors {
    flex-wrap: wrap;
    row-gap: 1.8em;
  }

  .actors .read-more {
    font-size: 0.78rem;
    position: relative;
    margin: 0 auto;
    min-width: 20%;
    text-align: center;
  }

  .actors span {
    font-size: 0.55rem;
  }
}

@media screen and (min-width: 730px) and (max-width: 800px) {
  .actors span {
    min-width: 26%;
    text-align: center;
  }
}
@media screen and (min-width: 811px) and (max-width: 884px) {
  .actors span {
    min-width: 25%;
    text-align: center;
  }
}

@media screen and (min-width: 890px) and (max-width: 1110px) {
  #timeline ul li {
    list-style: none;
    position: relative;
    width: 0.25rem;
    padding-top: 3.125rem;
    background: #fff;
  }

  #timeline ul li > div {
    position: relative;
    bottom: 0;
    width: 40vw;
    font-size: 0.7rem;
    padding: 1em;
    background: var(--card-box);
    transition: all 0.5s ease-in-out;
  }

  /* Right Cards */
  #timeline ul li:nth-child(odd) > div {
    left: 3em;
  }

  /* Left Cards */
  #timeline ul li:nth-child(even) > div {
    right: calc(40vw + 3em);
  }

  /* Dots */
  #timeline ul li:after {
    width: 0.5rem;
    height: 0.5rem;
  }

  #timeline ul li > div > h3 {
    font-size: 1.2rem;
  }

  .actors {
    flex-wrap: wrap;
    row-gap: 1.8em;
  }

  .actors .read-more {
    font-size: 0.78rem;
  }

  .actors span {
    font-size: 0.55rem;
  }
}


@media screen and (min-width: 850px) {
  #main-header {
    background-position: center -5.5em;
  }
}